//Created by gopisrinath on 4/1/16.
extends layout
block content
    body#start_game
        canvas#paper(width='1900', height='1000')
            | Your browser needs to support canvas for this to work!
