doctype html
html
    head
        title SquareSmash|Smash it as you can!
        
        meta(charset='utf-8')
        
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        meta(name='author', content='Gopi Srinath')
        
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        
        link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')

        //link(rel='stylesheet', href='/bower_components/chessboardjs/css/chessboard.min.css')
        
        link(rel='stylesheet', href='/bower_components/messenger/build/css/messenger.css')
        
        link(rel='stylesheet', href='/bower_components/messenger/build/css/messenger-spinner.css')
        
        link(rel='stylesheet', href='/bower_components/messenger/build/css/messenger-theme-future.css')
        
        link(rel='stylesheet', href='bower_components/smash/squaresmash.css')

        link(rel='stylesheet', href='bower_components/smash/grid.css')
    body
        .container
            .header
                ul.nav.nav-pills.pull-right
                    li.active(class='{{#if isHomePage}} {{/if}}')
                        a(href='/', title='Go to home page')
                            i.fa.fa-home
                            |  Home
                    li.active(class='{{#if isPlayPage}} {{/if}}')
                        a(href='/play', title='Create a new game')
                            i.fa.fa-gamepad
                            |  Play
                    //li.active(class='{{#if isTvPage}} {{/if}}')
                        a(href='/tv', title='Watch live games')
                            i.fa.fa-eye
                            |  Tv
                    li.active(class='{{#if isSearchPage}} {{/if}}')
                        a(href='/search', title='Search a game')
                            i.fa.fa-search
                            |  Search
                    //li.active(class='{{#if isAccountPage}} {{/if}}')
                        a(href='/account', title='My account')
                            span#loggedUser(data-user='{{ user.name }}')
                            i.fa.fa-user
                            |  {{ user.name }}
                    //li
                        a(href='/logout', title='Sign out')
                            i.fa.fa-sign-out
                             //    {{else}}
                    li.active(class='{{#if isLoginPage}} {{/if}}')
                        a(href='/login')
                            i.fa.fa-sign-in
                            |  Sign in
                h3
                    i.fa.fa-group
                    |  SquareSmash
            //.content
            block content

            .footer
                p
                    | © SquareSmash 2016,
                    i.fa.fa-code
                    |  with
                    i.fa.fa-heart
                    |  by
                    a(target='_blank', href='https://in.linkedin.com/in/gopi-srinath-samudrala-8b064266') Gopi Srinath
                p

        // /container
        script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript', src='/bower_components/chessboardjs/js/chessboard.min.js')
        script(type='text/javascript', src='/bower_components/chessjs/dist/chess.min.js')
        script(type='text/javascript', src='/bower_components/lodash/dist/lodash.min.js')
        script(type='text/javascript', src='/bower_components/moment/min/moment.min.js')
        script(type='text/javascript', src='/bower_components/messenger/build/js/messenger.min.js')
        script(type='text/javascript', src='/bower_components/messenger/build/js/messenger-theme-future.js')
        script(type='text/javascript', src='/bower_components/highcharts/highcharts.js')
        script(type='text/javascript', src='/socket.io/lib/socket.io.js')
        script(type='text/javascript', src='/javascripts/squaresmash.js')
