extends layout
block content
   .row
    .col-md-6.col-md-offset-3
        .panel.panel-info
            .panel-heading
                h3.panel-title
                    i.fa.fa-edit
                    |  Create a new game
            form#newGameForm(action='/play', method='post')
                .panel-body
                    .form-group
                        label Choose your opponent
                        .radio
                            label
                                input(type='radio', name='opponent', value='1', checked='')
                                i.fa.fa-group
                                |  Invite your friend
                            label
                                input(type='radio', name='opponent', value='0', checked='')
                                i.fa.fa-laptop
                                |  Join Existing Games
                    .form-group
                        .row
                            label Choose The Grid Size
                        .row
                            label Number of Rows
                            select
                                option(value='m3', selected='') 3
                                option(value='m4') 4
                                option(value='m5') 5
                                option(value='m6') 6
                                option(value='m7') 7
                                option(value='m8') 8
                                option(value='m9') 9
                                option(value='m10') 10
                        .row
                            label
                                | Number of Coloums
                            select
                                option(value='n3', selected='') 3
                                option(value='n4') 4
                                option(value='n5') 5
                                option(value='n6') 6
                                option(value='n7') 7
                                option(value='n8') 8
                                option(value='n9') 9
                                option(value='n10') 10


                .panel-footer
                    button.btn.btn-default.center-block(type='submit') Start the Game


