//Created by gopisrinath on 4/1/16.
extends layout
block content
    .row
        .col-md-6.col-md-offset-3
            .panel.panel-info
                .panel-heading
                    h3.panel-title Please sign up
                form(role='form', method='post', action='/register')
                    .panel-body
                        .form-group
                            input.form-control(type='email', name='email', placeholder='Email', autofocus='', required='')
                        .form-group
                            input.form-control(type='text', name='userName', placeholder='User name', autofocus='', required='')
                        .form-group
                            input.form-control(type='password', name='password', placeholder='Password', required='')
                        .form-group
                            input.form-control(type='password', name='confirmPassword', placeholder='Confirm password', required='')
                    .panel-footer
                        p
                            button.btn.btn-default.center-block(type='submit') Submit
                        p.text-center
                            | You have already an account? login
                            a(href='/login') here
            #registerError(hidden='hidden') {{ error }}


